################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/570f8e92-757a-4b2c-8531-cce19eb3e6c2.vsidx
