################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/570f8e92-757a-4b2c-8531-cce19eb3e6c2.vsidx
/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/66084ca4-d859-4f70-bf4f-10a2cdcceec0.vsidx
/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/9668b75e-32c5-4ab7-9e5f-cef1e6e80b71.vsidx
/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/a4c8f0ca-8124-46a2-9f9c-dd81b5d235cf.vsidx
/pruebaTecnica/.vs/pruebaTecnica/FileContentIndex/bb70d740-f253-4b9d-bf99-0edc1eff8902.vsidx
